@charset "utf-8";
body {
	background-image:url("images/vector_wave_aqua_opaque.jpg");
background-repeat:no-repeat;
background-size:cover;
}
#main_container{
	width:80%;
	margin:0 auto;
	height:auto;
}
.flex_container{
	display:flex;
	margin:0 auto;
	width:80%;
	height:670px;
	flex-direction:row;
		align-content:center;
}
.flex_container2{
	display:flex;
	width:80%;
	margin:0 auto;
	height:400px;
	
}
.flex_container3{
	display:flex;
	width:80%;
	margin:0 auto;
	height:300px;
		align-content:center;
}
.pet{
	text-align:center;
	height:100px;
	background-color:#F5FDFF;
	font-size:75px;
	font-family:le-monde-courrier-std-2, serif;
	font-weight:400;
	font-style:normal;
	color:#FC9850;
	padding-left:20px;
	padding-top:10px;
}
.reach{
	text-align:center;
	font-size:75px;
	font-family:le-monde-courrier-std-2, serif;
	font-weight:400;
	font-style:normal;
	color:#7085DD;
}
ul {
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	display:inline-block;
	display:flex;
	justify-content:center;
}
li {
  display:inline;
  text-align:center;
	font-family:le-monde-courrier-std-2, serif;
	font-weight:400;
	font-style:normal;
	font-size:35px;
	padding-left:50px;
}
nav{
	background-color:#F5FDFF;
	padding-top:1px;
}
nav a:link {
  color:#7B90DF;
  background-color:transparent;
  text-decoration:none;
}
nav a:visited {
  color:#7B90DF;
  background-color:transparent;
  text-decoration:underline;
}
nav a:hover {
  color:#FC9850;
  background-color:transparent;
  text-decoration:none;
}
nav a:active {
  color:#7B90DF;
  background-color:transparent;
  text-decoration:none;
}
.article1{
	background-color:rgba(240, 255, 255, 0.8);
	align-self:center; 
	align-content:center;
	text-align:center;
	width:100%;
    font-size:25px;
	font-family:utopia-std, serif;
	font-weight:400;
	margin-top:60px;
	margin-bottom:60px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
}
.article2{
	display:column;
	font-family:utopia-std, serif;
	font-weight:700;
	font-style:bold;
	font-size:40px;
	padding-left:30px;
	padding-right:30px;
	padding-top:120px;
	text-align:center;
	width:40%;}
.article4{
	width:100%;
	align-self:right;
	text-align:center;
	background-color:rgba(240, 255, 255, 0.8);
	font-family:utopia-std, serif;
	font-weight:400;
	font-style:normal;
	font-size:25px;
	margin: 50px 50px 50px 50px 
}
.draggable{
	display: block;
  margin-right: auto;
 width:100%;
}
.submit{
	  background-color:#50b1f5; 
  border:backdrop;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display:inline-block;
  font-size: 15px;
	font-family:le-monde-courrier-std-2, serif;
	font-weight:200;
	font-style:normal;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
  background-color:#FC9850;
  color: white;
}

footer{
	width:100%;
	color:white;
	background-color:#FC9850;
	font-family:utopia-std, serif;
	font-weight:400;
	font-style:italic;
	font-size:40px;
	text-align:center;
}
